body {
      background: #f9f9f9;
      font-family: 'Heveltica', sans-serif;
      margin:0;
}
#menu {
       float:left;
       width:20%;
       background:#f1f1f1;
       height:100vh;
       form {
              clear:both;
       }
       #tiles-pad {
              width:90%;
              margin:0 auto;
              .tile {
                     float:left;
                     background:#ccc;
                     border:1px solid #4d4d4d;
                     box-sizing:border-box;
              }
              .tile.filled {
                     background-color:#4d4d4d;
              }
       }
}
#cubes-wrapper {
       padding-top:1px;
       perspective: 1500px;
       float:left;
       width:80%;
       #pixel-area {
             transform: rotateX(10deg) rotateY(-22deg);
             transform-style: preserve-3d;
             width:500px;
             height:500px;
             margin:100px auto 0 auto;
             transition: all ease-in-out 0.3s;
             .cube {
                   position: absolute;
                   transform-style: preserve-3d;
                   transition: all ease-in 0.4s;
                   box-shadow:inset 0 0 5px 3px hsl(197, 80%, 34%);
              }
             div[class^="face-"] { position:absolute;width:50px;height:50px;transition:all ease-out 0.9s;}
             .face-0 { transform: translateZ( 25px ) rotateY( 0deg ); }
             .face-1 { transform: translateZ( -25px ) rotateX( -180deg ); }
             .face-2 { transform: translateX( 25px ) rotateY( -90deg ); }
             .face-3 { transform: translateX( -25px ) rotateY( 90deg ); }
             .face-4 { transform: translateY( 25px ) rotateX( 90deg ); }
             .face-5 { transform: translateY( -25px ) rotateX( -90deg ); }

             .explode.face-0 { transform: translateZ( 3000px ) rotateY( 72deg );opacity:0; }
             .explode.face-1 { transform: translateZ( -3000px ) rotateX( -320deg );opacity:0; }
             .explode.face-2 { transform: translateX( 3000px ) rotateY( -150deg );opacity:0; }
             .explode.face-3 { transform: translateX( -3000px ) rotateY( 145deg );opacity:0; }
             .explode.face-4 { transform: translateY( 3000px ) rotateX( 220deg );opacity:0; }
             .explode.face-5 { transform: translateY( -3000px ) rotateX( -230deg );opacity:0; }
       }
}
