$color:     rgba(20,20,20,0.5);
$grad:      radial-gradient(hsl(197, 100%, 50%), hsl(197, 100%, 35%));
body {
      background: #f9f9f9;
      font-family: 'Heveltica', sans-serif;
      color: $color;
      margin:0;
}
#menu {
       float:left;
       width:20%;
       background:#f1f1f1;
       height:100vh;
       #tiles-pad {
              width:90%;
              margin:0 auto;
              .tile {
                     float:left;
                     background:#ccc;
                     border:1px solid #4d4d4d;
                     box-sizing:border-box;
              }
              .tile.filled {
                     background-color:#4d4d4d;
              }
       }
}
#cubes-wrapper {
       padding-top:1px;
       perspective: 1500px;
       float:left;
       width:80%;
       #pixel-area {
             transform: rotateX(10deg) rotateY(-22deg);
             transform-style: preserve-3d;
             width:500px;
             height:500px;
             margin:100px auto 0 auto;
             transition: all ease-in-out 0.3s;
             div[class^="cube-"] {
                   position: absolute;
                   transform-style: preserve-3d;
                   transition: all ease-in 0.4s;
              }
             .cube-1 {
                   transform: translateX(150px);
              }
             .cube-2 {
                   transform: translateX(50px);;
              }
             .cube-3 {
                   transform: translateX(100px);;
              }
             div[class^="face-"] { position:absolute;box-shadow:inset 0 0 5px 3px hsl(197, 80%, 34%);width:50px;height:50px;}
             .face-0 { background:$grad;transform: translateZ( 25px ) rotateY( 0deg ); }
             .face-1 { background:$grad;transform: translateZ( -25px ) rotateX( -180deg ); }
             .face-2 { background:$grad;transform: translateX( 25px ) rotateY( -90deg ); }
             .face-3 { background:$grad;transform: translateX( -25px ) rotateY( 90deg ); }
             .face-4 { background:$grad;transform: translateY( 25px ) rotateX( 90deg ); }
             .face-5 { background:$grad;transform: translateY( -25px ) rotateX( -90deg ); }
       }
}
