body {
  background: #f9f9f9;
  font-family: 'Heveltica', sans-serif;
  color: rgba(20, 20, 20, 0.5);
  margin: 0;
}

#menu {
  float: left;
  width: 20%;
  background: #f1f1f1;
  height: 100vh;
}
#menu #tiles-pad {
  width: 90%;
  margin: 0 auto;
}
#menu #tiles-pad .tile {
  float: left;
  background: #ccc;
  border: 1px solid #4d4d4d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu #tiles-pad .tile.filled {
  background-color: #4d4d4d;
}

#cubes-wrapper {
  padding-top: 1px;
  -webkit-perspective: 1500px;
  -ms-perspective: 1500px;
  perspective: 1500px;
  float: left;
  width: 80%;
}
#cubes-wrapper #pixel-area {
  -webkit-transform: rotateX(10deg) rotateY(-22deg);
  -ms-transform: rotateX(10deg) rotateY(-22deg);
  transform: rotateX(10deg) rotateY(-22deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 500px;
  height: 500px;
  margin: 100px auto 0 auto;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
#cubes-wrapper #pixel-area .cube {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  -webkit-box-shadow: inset 0 0 5px 3px #11759c;
  box-shadow: inset 0 0 5px 3px #11759c;
}
#cubes-wrapper #pixel-area .cube-1 {
  -webkit-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px);
}
#cubes-wrapper #pixel-area .cube-2 {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
#cubes-wrapper #pixel-area .cube-3 {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
#cubes-wrapper #pixel-area div[class^="face-"] {
  position: absolute;
  /*box-shadow:inset 0 0 5px 3px hsl(197, 80%, 34%);*/
  width: 50px;
  height: 50px;
}
#cubes-wrapper #pixel-area .face-0 {
  /*background:$grad;*/
  -webkit-transform: translateZ(25px) rotateY(0deg);
  /*background:$grad;*/
  -ms-transform: translateZ(25px) rotateY(0deg);
  /*background:$grad;*/
  transform: translateZ(25px) rotateY(0deg);
}
#cubes-wrapper #pixel-area .face-1 {
  /*background:$grad;*/
  -webkit-transform: translateZ(-25px) rotateX(-180deg);
  /*background:$grad;*/
  -ms-transform: translateZ(-25px) rotateX(-180deg);
  /*background:$grad;*/
  transform: translateZ(-25px) rotateX(-180deg);
}
#cubes-wrapper #pixel-area .face-2 {
  /*background:$grad;*/
  -webkit-transform: translateX(25px) rotateY(-90deg);
  /*background:$grad;*/
  -ms-transform: translateX(25px) rotateY(-90deg);
  /*background:$grad;*/
  transform: translateX(25px) rotateY(-90deg);
}
#cubes-wrapper #pixel-area .face-3 {
  /*background:$grad;*/
  -webkit-transform: translateX(-25px) rotateY(90deg);
  /*background:$grad;*/
  -ms-transform: translateX(-25px) rotateY(90deg);
  /*background:$grad;*/
  transform: translateX(-25px) rotateY(90deg);
}
#cubes-wrapper #pixel-area .face-4 {
  /*background:$grad;*/
  -webkit-transform: translateY(25px) rotateX(90deg);
  /*background:$grad;*/
  -ms-transform: translateY(25px) rotateX(90deg);
  /*background:$grad;*/
  transform: translateY(25px) rotateX(90deg);
}
#cubes-wrapper #pixel-area .face-5 {
  /*background:$grad;*/
  -webkit-transform: translateY(-25px) rotateX(-90deg);
  /*background:$grad;*/
  -ms-transform: translateY(-25px) rotateX(-90deg);
  /*background:$grad;*/
  transform: translateY(-25px) rotateX(-90deg);
}

/*# sourceMappingURL=main.scss.map */
