body {
      background: #f9f9f9;
      font-family: 'Heveltica', sans-serif;
      margin:0;
}
#menu {
       float:left;
       width:20%;
       background:#f1f1f1;
       height:100vh;
       form {
              clear:both;
              .jscolor::after{
                     content:"";
                     display:block;
                     clear:both;
              }
       }
       #tiles-pad {
              width:90%;
              margin:0 auto;
              .tile {
                     float:left;
                     background:#ccc;
                     border:1px solid #4d4d4d;
                     box-sizing:border-box;
              }
              .tile.filled {
                     background-color:#4d4d4d;
              }
       }
}
#cubes-wrapper {
       padding-top:1px;
       perspective: 1500px;
       float:left;
       width:80%;
       #pixel-area {
             transform: rotateX(10deg) rotateY(-22deg);
             transform-style: preserve-3d;
             width:500px;
             height:500px;
             margin:100px auto 0 auto;
             transition: all ease-in-out 0.3s;
             .cube {
                   position: absolute;
                   transform-style: preserve-3d;
                   transition: all ease-in 0.4s;
                   box-shadow:inset 0 0 5px 3px hsl(197, 80%, 34%);
              }
             div[class^="face-"] { position:absolute;transition:all ease-out 0.9s;}
       }
}
