$grey-text: #ababab;
$grey-background: #ccc;
$grey-background-hover: #5d5d5d;
$grey-background-menu: #f1f1f1;
body {
      background: linear-gradient($grey-background-menu, $grey-background);
      font-family: 'Heveltica', sans-serif;
      margin:0;
}
#menu {
       float:left;
       width:20%;
       background:$grey-background-menu;
       height:100vh;
       box-shadow:1px 0px 5px $grey-background;
       form {
              clear:both;
              margin:40px auto;
              width:90%;
              input[type='text'] {
                     display:inline-block;
                     width:70%;
                     height:70px;
                     box-sizing:border-box;
                     border:none;
                     padding-left:20px;
                     font-size:19px;
                     color:$grey-text;
              }
              ::-webkit-input-placeholder {
                 color: $grey-text;
              }
              :-moz-placeholder {
                 color: $grey-text;
              }
              ::-moz-placeholder {
                 color: $grey-text;
              }
              :-ms-input-placeholder {
                 color: $grey-text;
              }
              input:focus {
                     outline: none;
              }
              input[type='radio']:not(old) {
                     width:calc(100%/20);

                     padding:0;
                     margin:0;
                     opacity:0;
              }
              input[type='radio']:not(old) + label{
                     margin-left:calc(-100%/20);
                     width:calc(100%/20);

                     display:inline-block;
                     text-align:center;
                     font-size:11px;
              }
              button {
                     display:inline-block;
                     width:70px;
                     height:70px;
                     float:right;
                     box-sizing:border-box;
                     border:none;
                     cursor:pointer;
                     font-size:19px;
                     color:$grey-text;
                     background-color:$grey-background;
              }
              button:hover {
                     background-color:$grey-background-hover;
              }
              .jscolor {
                     color:$grey-text!important;
                     cursor:pointer;
              }
              .jscolor::after{
                     content:"";
                     display:block;
                     clear:both;
              }
       }
       #tiles-pad {
              width:100%;
              .tile {
                     float:left;
                     background:#dedede;
                     border:3px solid $grey-background-menu;
                     box-sizing:border-box;
                     cursor:pointer;
              }
              .tile.filled {
                     background-color:#4d4d4d;
              }
       }
}
#cubes-wrapper {
       padding-top:1px;
       perspective: 1500px;
       float:left;
       width:80%;
       #pixel-area {
              transform: rotateX(10deg) rotateY(-22deg);
              transform-style: preserve-3d;
              width:500px;
              height:500px;
              margin:100px auto 0 auto;
              transition: all cubic-bezier(.91,.05,.12,.95) 0.3s;
              .cube {
                     position: absolute;
                     transform-style: preserve-3d;
                     transition: transform ease-in 0.4s, opacity linear 0.1s;
                     box-shadow:inset 0 0 5px 3px hsl(197, 80%, 34%);
              }
              .cube.fade {
                     opacity: 0.1;
              }
              div[class^="face-"] { position:absolute;transition:all ease-out 0.9s;}
              .face-0 { transform: translateZ( 250px ) rotateX( 0deg ); }
              .face-1 { transform: translateZ( -250px ) rotateX( 180deg ); }
              .face-2 { transform: translateX( 250px ) rotateY( 90deg ); }
              .face-3 { transform: translateX( -250px ) rotateY( 90deg ); }
              .face-4 { transform: translateY( 250px ) rotateX( 90deg ); }
              .face-5 { transform: translateY( -250px ) rotateX( 90deg ); }
       }
}
